node_modules/
.env
.private_key
dist/
*.js.map
.DS_Store
pharos-x402-server/
pharos-x402-client/
pharos-x402-facilitator/
examples/server/node_modules/
examples/client/node_modules/
examples/facilitator/node_modules/
examples/*/package-lock.json
