PAY_TO_ADDRESS=0xYourReceivingWalletHere
FACILITATOR_URL=http://localhost:3000
PORT=4021
USDC_ADDRESS=0xE0BE08c77f415F577A1B3A9aD7a1Df1479564ec8
USDC_NAME=USDC
PHAROS_NETWORK=eip155:688689
# For mainnet: set PHAROS_NETWORK=eip155:1672 and update USDC_ADDRESS from docs.pharos.xyz
